.faq_container {
  display: flex;
  /* justify-content: space-around; */
  gap: 100px;
  margin-top: 100px;
}

.faq_container .faq {
  width: 822px;
  /* background-color: rgb(239, 230, 220); */
  color: rgb(34, 34, 34);
  padding: 16px 22px;
  border-radius: 12px;
  /* margin: 10px 0px; */
}

.faq_container .faq h3 {
  font-size: 24px;
  font-weight: 600;

}

.faq_container .faq p {}

.faq_container .faq .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  padding: 16px 24px;
}

.faq_container .faq .answer p{
  
  font-size: 20px;
  font-family: 'Inter-medium';
  padding: 8px 24px;
}

.faq_container .faq .hidden {
  max-height: 300px;
}

.faq_container .faq .answer{
  overflow: hidden;
  max-height: 0;
}



.faq_container .faq .top div {
  background-color: rgb(239, 230, 220);
  color: #1e3a2b;
  font-size: 20px;
  font-weight: 500;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.faq_container .faq .top div:hover{
  border: 1px solid #1e3a2b;
  height: 37px;
  width: 37px;
}

.faq_container .faq .top div:active{
  background-color: #1e3a2b;
  color: rgb(239, 230, 220);
}

.faq_container .faq:hover {
  background-color: rgb(239, 230, 220);
  /* color: white; */

}



/* FAQ right */

.faq_container .right {
  height: 276px;
  width: 299px;
  border: 1px solid #1e3a2b;
  border-radius: 24px;
  /* background-color: rgb(239, 230, 220); */

  /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Ccircle cx='40' cy='20' r='0.25' fill='rgba(26, 32, 44,1)'/%3E%3Ccircle cx='0' cy='20' r='1' fill='rgba(236, 201, 75,1)'/%3E%3Ccircle cx='40' cy='20' r='1' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */


  /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,1)'/%3E%3Ccircle cx='40' cy='20' r='0.25' fill='rgba(26, 32, 44,1)'/%3E%3Ccircle cx='0' cy='20' r='1' fill='rgba(236, 201, 75,1)'/%3E%3Ccircle cx='40' cy='20' r='1' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 13,0)'/%3E%3Ccircle cx='40' cy='20' r='0.25' fill='rgba(26, 32, 44,1)'/%3E%3Ccircle cx='0' cy='20' r='1' fill='rgba(236, 201, 75,1)'/%3E%3Ccircle cx='40' cy='20' r='1' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");

  color: rgb(34, 34, 34);
  padding: 42px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.faq_container .right img {
  height: 72px;
}

.faq_container .right h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1e3a2b;
}