section.our_methodology {
  background-color: #eff87a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 90%;
  border-radius: 24px;
  padding: 40px;
}


section.our_methodology h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 68px;
  font-family: 'Faro-bold';
  /* padding: 0px 30px; */
}


section.our_methodology section {
  display: flex;
  width: 90%;
  gap: 30px;
  align-items: center;
}

section.our_methodology section div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section.our_methodology section img {
  width: 80%;
}

section.our_methodology section div h2 {
  font-family: "Faro-bold";
  font-family: 348px;
  margin-bottom: 20px;

}

section.our_methodology section div p {
  font-family: "Inter-medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.47px;

}

@media (max-width:426px) {
  section.our_methodology {
    width: 80%;
  }



  section.our_methodology section {
    flex-direction: column;
  }

  section.our_methodology section div {
    width: 100%;
  }

  section.our_methodology h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }

  section.our_methodology section div h2 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    /* margin-top: 100px; */
  }

  section.our_methodology section div p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }


}