.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(209, 99%, 48%) 0%,
    hsl(209, 99%, 48%) 8%,
    hsl(209, 99%, 48%) 92%,
    hsl(209, 99%, 48%) 100%
    /* hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%, */
    /* hsl(340deg 100% 16%) 100% */ 
    /* rgb(29 78 216, 0)
    rgb(29 78 216, 0.08)
    rgb(29 78 216, 0.92)
    rgb(29 78 216, 1) */
  );
}

.front {
  display: flex;
  position: relative;
  padding: 8px 38px;
  border-radius: 12px;
  font-size: 1rem;
  color: white;
  background: hsl(209, 99%, 48%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* outline text */
.outlineText {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
