@font-face {
  font-family: satori-black;
  src: url(assets/fonts/Satoshi-Black.otf);
}
@font-face {
  font-family: satori-bold;
  src: url(assets/fonts/Satoshi-Bold.otf);
}
@font-face {
  font-family: satori-light;
  src: url(assets/fonts/Satoshi-Light.otf);
}
@font-face {
  font-family: satori-medium;
  src: url(assets/fonts/Satoshi-Medium.otf);
}
@font-face {
  font-family: satori;
  src: url(assets/fonts/Satoshi-Regular.otf);
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn-primary{
    @apply px-3 py-1 bg-white border border-slate-900 text-black rounded-full
  }
}

body{
  font-family: satori, sans-serif;
}